.booking-item {
    width: 100%;
    max-height: 280px;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    box-shadow: 1px 1px 3px 3px black;
    border-radius: 8px;
}

.skill-id{
    font-family: "Roboto";
    font-size: 0.7rem;
    margin-top: 0px;
    margin-bottom: 2px;
}

.booking-item>aside {
    max-width: 65%;
    min-width: 65%;
    min-height: 240px;
    max-height: 240px;
    background-color: #1f1f1f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px;
}

.booking-item>aside>h1 {
    color: #f0f0f0;
    font-family: "Bree Serif";
    font-size: 0.8rem;
}

.booking-item>aside>h3 {
    color: #f0f0f0;
    font-size: 0.7rem;
    font-family: "Roboto";
}

.booking-item>aside>p {
    color: #f0f0f0;
    font-size: 0.6rem;
    font-family: "Roboto";
    margin-top: 5px;
    margin-bottom: 5px;
}

.booking-item>img {
    width: 35%;
    height: 99%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.8;
}

.delete-btn {
    background-color: red;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    width: 75px;
    height: 25px;
    font-family: "Roboto";
    font-size: 0.7rem;
    border-radius: 4px;
    margin-bottom: 9px;
}

.delete-btn:hover {
    background-color: rgb(237, 80, 80);
}


@media screen and (min-width:768px) {
    .booking-item {
        width: 47%;
    }

    .booking-item>aside {
        padding: 15px;
    }

    .booking-item>aside>h1 {
        font-size: 1.1rem;
    }

    .booking-item>aside>h3 {
        color: #f0f0f0;
        font-size: 0.9rem;
        font-family: "Roboto";
    }

    .booking-item>aside>p {
        color: #f0f0f0;
        font-size: 0.7rem;
        font-family: "Roboto";
        margin-top: 5px;
    }

    .booking-item>img {
        width: 35%;
        height: 99%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

}

@media screen and (min-width:1023px) {
    .booking-item {
        width: 35%;
    }
}